Calculate with columns
drop cols
add cols
min, max, argmin, argmax
mean

In [130]:
import numpy as np
import pandas as pd

In [131]:
data = pd.read_csv("./data/NFLX.csv", index_col=["Date"], parse_dates=True)

In [132]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,557.590027,2730600
2021-02-12,556.940002,561.250000,550.849976,556.520020,556.520020,2197100
2021-02-16,557.289978,563.630005,552.729980,557.280029,557.280029,2624100
2021-02-17,550.989990,555.250000,543.030029,551.340027,551.340027,2069600
2021-02-18,549.000000,550.000000,538.229980,548.219971,548.219971,2456200

In [133]:
data["Daily_Chg"] = data['Close'] - data['Open']

In [134]:
#make a calculation but add it as a new column

data["Daily_Pct_Chg"] = ((data["Close"] - data["Open"]) / data["Close"]) * 100

In [135]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily_Chg,Daily_Pct_Chg
Date,,,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,557.590027,2730600,-6.849975,-1.228497
2021-02-12,556.940002,561.250000,550.849976,556.520020,556.520020,2197100,-0.419982,-0.075466
2021-02-16,557.289978,563.630005,552.729980,557.280029,557.280029,2624100,-0.009949,-0.001785
2021-02-17,550.989990,555.250000,543.030029,551.340027,551.340027,2069600,0.350037,0.063488
2021-02-18,549.000000,550.000000,538.229980,548.219971,548.219971,2456200,-0.780029,-0.142284

In [136]:
#assume we bought on Day 0, what is our normailzed gain or loss
#first day is 1.0 because it is closing price / closing price for smae day
data['Normalized'] = data['Close'] / data['Close'].iloc[0]

In [137]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily_Chg,Daily_Pct_Chg,Normalized
Date,,,,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,557.590027,2730600,-6.849975,-1.228497,1.000000
2021-02-12,556.940002,561.250000,550.849976,556.520020,556.520020,2197100,-0.419982,-0.075466,0.998081
2021-02-16,557.289978,563.630005,552.729980,557.280029,557.280029,2624100,-0.009949,-0.001785,0.999444
2021-02-17,550.989990,555.250000,543.030029,551.340027,551.340027,2069600,0.350037,0.063488,0.988791
2021-02-18,549.000000,550.000000,538.229980,548.219971,548.219971,2456200,-0.780029,-0.142284,0.983195

In [138]:
data["Close"].mean()

550.1729125039367

In [139]:
data['Close'].min()

359.700012

In [140]:
data['Close'].max()

691.690002

In [141]:
#can also run these more generically on every series at a time

data.mean()

Open             5.506378e+02
High             5.571814e+02
Low              5.432456e+02
Close            5.501729e+02
Adj Close        5.501729e+02
Volume           4.520564e+06
Daily_Chg       -4.648428e-01
Daily_Pct_Chg   -9.663475e-02
Normalized       9.866979e-01
dtype: float64

In [142]:
#if you want to know min and the day it was the min (i.e what row is the min value in)
data['Close'].min()

359.700012

In [143]:
data['Close'].argmin()

241

In [144]:
#then you can access it
data.iloc[241]

Open             3.782700e+02
High             3.826600e+02
Low              3.566200e+02
Close            3.597000e+02
Adj Close        3.597000e+02
Volume           1.268400e+07
Daily_Chg       -1.856998e+01
Daily_Pct_Chg   -5.162629e+00
Normalized       6.450976e-01
Name: 2022-01-26 00:00:00, dtype: float64

In [145]:
data['Normalized'].min()

0.6450976426807578

In [146]:
data['Normalized'].argmin()

241

In [147]:
data.iloc[241]

Open             3.782700e+02
High             3.826600e+02
Low              3.566200e+02
Close            3.597000e+02
Adj Close        3.597000e+02
Volume           1.268400e+07
Daily_Chg       -1.856998e+01
Daily_Pct_Chg   -5.162629e+00
Normalized       6.450976e-01
Name: 2022-01-26 00:00:00, dtype: float64

In [148]:
data['Close'].mean()

550.1729125039367

In [149]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily_Chg,Daily_Pct_Chg,Normalized
Date,,,,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,557.590027,2730600,-6.849975,-1.228497,1.000000
2021-02-12,556.940002,561.250000,550.849976,556.520020,556.520020,2197100,-0.419982,-0.075466,0.998081
2021-02-16,557.289978,563.630005,552.729980,557.280029,557.280029,2624100,-0.009949,-0.001785,0.999444
2021-02-17,550.989990,555.250000,543.030029,551.340027,551.340027,2069600,0.350037,0.063488,0.988791
2021-02-18,549.000000,550.000000,538.229980,548.219971,548.219971,2456200,-0.780029,-0.142284,0.983195

Drop Columns
Default is axis=0 which is rows
axis=1 is columns

It is also not in place unless you specifiy

In [150]:

data.drop(labels=['Adj Close', 'Volume'], axis=1, inplace=True)

In [151]:
data.head()

,Open,High,Low,Close,Daily_Chg,Daily_Pct_Chg,Normalized
Date,,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,-6.849975,-1.228497,1.000000
2021-02-12,556.940002,561.250000,550.849976,556.520020,-0.419982,-0.075466,0.998081
2021-02-16,557.289978,563.630005,552.729980,557.280029,-0.009949,-0.001785,0.999444
2021-02-17,550.989990,555.250000,543.030029,551.340027,0.350037,0.063488,0.988791
2021-02-18,549.000000,550.000000,538.229980,548.219971,-0.780029,-0.142284,0.983195