#https://www.statology.org/json-to-pandas-dataframe/

Multiple Formats:
records, index, columns, values

In [2]:
import pandas as pd

#Records Format
[
   {
      "points": 25,
      "assists": 5
   },
   {
      "points": 12,
      "assists": 7
   },
   {
      "points": 15,
      "assists": 7
   },
   {
      "points": 19,
      "assists": 12
   }
]

In [5]:
df_records = pd.read_json('/home/craig/Documents/python_finance/jsonTest/records_format.json', orient='records')

In [6]:
df_records

   points  assists
0      25        5
1      12        7
2      15        7
3      19       12

#Index Format
{
   "0": {
      "points": 25,
      "assists": 5
   },
   "1": {
      "points": 12,
      "assists": 7
   },
   "2": {
      "points": 15,
      "assists": 7
   },
   "3": {
      "points": 19,
      "assists": 12
   }
}

In [8]:
df_index = pd.read_json('/home/craig/Documents/python_finance/jsonTest/index_format.json', orient='index')

In [9]:
df_index

   points  assists
0      25        5
1      12        7
2      15        7
3      19       12

#columns format
{
   "points": {
      "0": 25,
      "1": 12,
      "2": 15,
      "3": 19
   },
   "assists": {
      "0": 5,
      "1": 7,
      "2": 7,
      "3": 12
   }
}

In [10]:
df_columns = pd.read_json('/home/craig/Documents/python_finance/jsonTest/columns_format.json', orient='columns')

In [11]:
df_columns

   points  assists
0      25        5
1      12        7
2      15        7
3      19       12

Values format
[
   [
      25,
      5
   ],
   [
      12,
      7
   ],
   [
      15,
      7
   ],
   [
      19,
      12
   ]
]

In [12]:
df_values = pd.read_json('/home/craig/Documents/python_finance/jsonTest/values_format.json', orient='values')

In [13]:
df_values

    0   1
0  25   5
1  12   7
2  15   7
3  19  12