https://www.youtube.com/watch?v=m8ahf_c9hEc

In [14]:
import numpy as np
import pandas as pd

In [15]:
#set the index to the date and change the date from a string object to a datetime object
df = pd.read_csv("./data/NFLX.csv", index_col=["Date"], parse_dates=True)

In [16]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,557.590027,2730600
2021-02-12,556.940002,561.250000,550.849976,556.520020,556.520020,2197100
2021-02-16,557.289978,563.630005,552.729980,557.280029,557.280029,2624100
2021-02-17,550.989990,555.250000,543.030029,551.340027,551.340027,2069600
2021-02-18,549.000000,550.000000,538.229980,548.219971,548.219971,2456200

In [17]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [18]:
df.index

DatetimeIndex(['2021-02-11', '2021-02-12', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23',
               '2021-02-24', '2021-02-25',
               ...
               '2022-01-31', '2022-02-01', '2022-02-02', '2022-02-03',
               '2022-02-04', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11'],
              dtype='datetime64[ns]', name='Date', length=254, freq=None)

In [19]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,254.000000,254.000000,254.000000,254.000000,254.000000,2.540000e+02
mean,550.637755,557.181378,543.245631,550.172913,550.172913,4.520564e+06
std,67.568468,67.838776,67.440765,67.318396,67.318396,5.003717e+06
min,378.269989,382.660004,351.459991,359.700012,359.700012,1.287200e+06
25%,510.577507,514.777496,503.950004,509.027496,509.027496,2.616300e+06
50%,539.904999,544.455017,531.224976,539.934998,539.934998,3.261400e+06
75%,598.675018,609.447510,592.892487,598.974991,598.974991,4.398425e+06
max,692.349976,700.989990,686.090027,691.690002,691.690002,5.890430e+07

In [20]:
df.loc['2021-01-01': '2021-12-31']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-11,564.440002,565.929993,554.219971,557.590027,557.590027,2730600
2021-02-12,556.940002,561.250000,550.849976,556.520020,556.520020,2197100
2021-02-16,557.289978,563.630005,552.729980,557.280029,557.280029,2624100
2021-02-17,550.989990,555.250000,543.030029,551.340027,551.340027,2069600
2021-02-18,549.000000,550.000000,538.229980,548.219971,548.219971,2456200
...,...,...,...,...,...,...
2021-12-27,615.000000,615.000000,609.250000,613.119995,613.119995,2061500
2021-12-28,614.950012,618.409973,609.690002,610.710022,610.710022,1882800
2021-12-29,610.710022,613.979980,604.679993,610.539978,610.539978,1287200
2021-12-30,612.989990,620.609985,611.239990,612.090027,612.090027,1625100
2021-12-31,610.010010,614.080017,602.049988,602.440002,602.440002,1995900

In [21]:
df.iloc[0]

Open         5.644400e+02
High         5.659300e+02
Low          5.542200e+02
Close        5.575900e+02
Adj Close    5.575900e+02
Volume       2.730600e+06
Name: 2021-02-11 00:00:00, dtype: float64

In [22]:
df.loc['2021-12-20']

Open         5.864300e+02
High         6.028800e+02
Low          5.842600e+02
Close        5.937400e+02
Adj Close    5.937400e+02
Volume       3.358400e+06
Name: 2021-12-20 00:00:00, dtype: float64

In [23]:
df.iloc[-1]

Open         4.053300e+02
High         4.116103e+02
Low          3.956001e+02
Close        3.985200e+02
Adj Close    3.985200e+02
Volume       2.774538e+06
Name: 2022-02-11 00:00:00, dtype: float64

Start of Video 2 --- Series (columns)
https://www.youtube.com/watch?v=CG6rMc8FU9I&list=PLvMRWNpDTNwQF6t_Tq7aVX0AI6H1avSpv&index=2

Series---must be the same dtype in each series (column)
Note: this is different from excel

In [25]:
type(df)

pandas.core.frame.DataFrame

In [26]:
type(df["Open"])

pandas.core.series.Series

In [27]:
df["Open"]

Date
2021-02-11    564.440002
2021-02-12    556.940002
2021-02-16    557.289978
2021-02-17    550.989990
2021-02-18    549.000000
                 ...
2022-02-07    410.170013
2022-02-08    398.179993
2022-02-09    408.649994
2022-02-10    402.100006
2022-02-11    405.329987
Name: Open, Length: 254, dtype: float64

In [30]:
# Can perform math on series----get daily change":
df["Open"] - df["Close"]

Date
2021-02-11    6.849975
2021-02-12    0.419982
2021-02-16    0.009949
2021-02-17   -0.350037
2021-02-18    0.780029
                ...
2022-02-07    8.070007
2022-02-08   -5.350006
2022-02-09   -4.240021
2022-02-10   -4.169983
2022-02-11    6.809998
Length: 254, dtype: float64

Percentage change can be applied to any quantity that you measure over time. Let's say you are tracking the quoted price of a security. If the price increased, use the formula [(New Price - Old Price)/Old Price] and then multiply that number by 100. If the price decreased, use the formula [(Old Price - New Price)/Old Price] and multiply that number by 100.

In [36]:
daily_pct_change = ((df["Close"] - df["Open"]) / df["Open"])*100

In [37]:
daily_pct_change

Date
2021-02-11   -1.213588
2021-02-12   -0.075409
2021-02-16   -0.001785
2021-02-17    0.063529
2021-02-18   -0.142082
                ...
2022-02-07   -1.967479
2022-02-08    1.343615
2022-02-09    1.037568
2022-02-10    1.037051
2022-02-11   -1.680112
Length: 254, dtype: float64

Normalize the data to see how much you gained or lost from when you purchased
If I buy it on day 0. We want to look at each day as a percentage change from when we bought it. 
So the first day should be 1.0 and then each day thereafter shows your price increased or decreased percentage from that 1.00
It shows you your gain or loss % from when you bought it

In [41]:
#take the closing price of each day and fivide it by theclosing price of the last day
normalize = df['Close']/df['Close'].iloc[0]

In [42]:
normalize

Date
2021-02-11    1.000000
2021-02-12    0.998081
2021-02-16    0.999444
2021-02-17    0.988791
2021-02-18    0.983195
                ...
2022-02-07    0.721139
2022-02-08    0.723704
2022-02-09    0.740490
2022-02-10    0.728618
2022-02-11    0.714719
Name: Close, Length: 254, dtype: float64

In [44]:
# Assuming you sold it on day -1, 
# you can see how the normalize gets you to the price for that day. 
df['Close'].iloc[0]*normalize.iloc[-1]

398.51998899999995

In [45]:
df['Close'].iloc[-1]

398.519989