In [1]:
import pandas_datareader as pdr
import pandas as pd
import datetime as dt
import yfinance as yf

In [2]:
start = dt.datetime(2021, 1, 1)
end = dt.datetime(2022, 2, 14)
ticker = 'AAPL'
av_key = 'GNMEXKEV18198WV5'

In [3]:
yahoo_df = pdr.get_data_yahoo(ticker, start, end)
yahoo_df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,133.610001,126.760002,133.520004,129.410004,143301900.0,128.453445
2021-01-05,131.740005,128.429993,128.889999,131.009995,97664900.0,130.041611
2021-01-06,131.050003,126.379997,127.720001,126.599998,155088000.0,125.664223
2021-01-07,131.630005,127.860001,128.360001,130.919998,109578200.0,129.952271
2021-01-08,132.630005,130.229996,132.429993,132.050003,105158200.0,131.073914
...,...,...,...,...,...,...
2022-02-08,175.350006,171.429993,171.729996,174.830002,74829200.0,174.830002
2022-02-09,176.649994,174.899994,176.050003,176.279999,71285000.0,176.279999
2022-02-10,175.479996,171.550003,174.139999,172.119995,90865900.0,172.119995
2022-02-11,173.080002,168.039993,172.330002,168.639999,98566000.0,168.639999
2022-02-14,169.580002,166.559998,167.369995,168.880005,86185500.0,168.880005

In [4]:
#you can use this function for all calls just need to specifiy yahoo, av-dailys, fred, etc.
alpha_vantage_df = pdr.DataReader("AAPL", "av-daily", start, end, api_key=av_key)
alpha_vantage_df

              open      high      low   close     volume
2021-01-04  133.52  133.6116  126.760  129.41  143301887
2021-01-05  128.89  131.7400  128.430  131.01   97664898
2021-01-06  127.72  131.0499  126.382  126.60  155087970
2021-01-07  128.36  131.6300  127.860  130.92  109578157
2021-01-08  132.43  132.6300  130.230  132.05  105158245
...            ...       ...      ...     ...        ...
2022-02-08  171.73  175.3500  171.430  174.83   74829217
2022-02-09  176.05  176.6500  174.900  176.28   71285038
2022-02-10  174.14  175.4800  171.550  172.12   90865899
2022-02-11  172.33  173.0800  168.040  168.64   98670687
2022-02-14  167.37  169.5800  166.560  168.88   86185530

[282 rows x 5 columns]

In [5]:
fred_df = pdr.DataReader("GDP", "fred", start, end)
fred_df

                  GDP
DATE
2021-01-01  22038.226
2021-04-01  22740.959
2021-07-01  23202.344
2021-10-01  24008.472

In [8]:
# yf allows you to download a ton of info (IS, BS, rev, etc. )
#can do regular daily stock prices 
apple = yf.download('AAPL', start='2020-01-01', end='2021-01-01')
apple

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.894318,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.175926,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.758995,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.412109,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.593040,132079200
...,...,...,...,...,...,...
2020-12-24,131.320007,133.460007,131.100006,131.970001,130.994537,54930100
2020-12-28,133.990005,137.339996,133.509995,136.690002,135.679657,124486200
2020-12-29,138.050003,138.789993,134.339996,134.869995,133.873077,121047300
2020-12-30,135.580002,135.990005,133.399994,133.720001,132.731598,96452100
2020-12-31,134.080002,134.740005,131.720001,132.690002,131.709213,99116600

In [10]:
#but you can also get detailed financials
apple_ticker = yf.Ticker('AAPL')

In [14]:
#then do apple_ticker. (tab) to get options
apple_ticker.get_balance_sheet()

,2021-09-25,2020-09-26,2019-09-28,2018-09-29
Total Liab,2.879120e+11,2.585490e+11,2.480280e+11,2.585780e+11
Total Stockholder Equity,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Other Current Liab,5.357700e+10,4.786700e+10,4.324200e+10,3.929300e+10
Total Assets,3.510020e+11,3.238880e+11,3.385160e+11,3.657250e+11
Common Stock,5.736500e+10,5.077900e+10,4.517400e+10,4.020100e+10
Other Current Assets,1.411100e+10,1.126400e+10,1.235200e+10,1.208700e+10
Retained Earnings,5.562000e+09,1.496600e+10,4.589800e+10,7.040000e+10
Other Liab,4.305000e+10,4.610800e+10,5.050300e+10,4.891400e+10
Treasury Stock,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Other Assets,3.876200e+10,3.395200e+10,3.297800e+10,2.228300e+10
Cash,3.494000e+10,3.801600e+10,4.884400e+10,2.591300e+10
Total Current Liabilities,1.254810e+11,1.053920e+11,1.057180e+11,1.159290e+11
Short Long Term Debt,9.613000e+09,8.773000e+09,1.026000e+10,8.784000e+09
Other Stockholder Equity,1.630000e+08,-4.060000e+08,-5.840000e+08,-3.454000e+09
Property Plant Equipment,4.952700e+10,4.533600e+10,3.737800e+10,4.130400e+10
Total Current Assets,1.348360e+11,1.437130e+11,1.628190e+11,1.313390e+11
Long Term Investments,1.278770e+11,1.008870e+11,1.053410e+11,1.707990e+11
Net Tangible Assets,6.309000e+10,6.533900e+10,9.048800e+10,1.071470e+11
Short Term Investments,2.769900e+10,5.292700e+10,5.171300e+10,4.038800e+10
Net Receivables,5.150600e+10,3.744500e+10,4.580400e+10,4.899500e+10
Long Term Debt,1.091060e+11,9.866700e+10,9.180700e+10,9.373500e+10
Inventory,6.580000e+09,4.061000e+09,4.106000e+09,3.956000e+09
Accounts Payable,5.476300e+10,4.229600e+10,4.623600e+10,5.588800e+10

In [12]:
apple_ticker.analysis

,Max Age,End Date,Growth,Earnings Estimate Avg,Earnings Estimate Low,Earnings Estimate High,Earnings Estimate Year Ago Eps,Earnings Estimate Number Of Analysts,Earnings Estimate Growth,Revenue Estimate Avg,...,Revenue Estimate Growth,Eps Trend Current,Eps Trend 7Days Ago,Eps Trend 30Days Ago,Eps Trend 60Days Ago,Eps Trend 90Days Ago,Eps Revisions Up Last7Days,Eps Revisions Up Last30Days,Eps Revisions Down Last30Days,Eps Revisions Down Last90Days
Period,,,,,,,,,,,,,,,,,,,,,
0Q,1,2022-03-31,0.02100,1.43,1.34,1.56,1.40,29.0,0.021,9.393390e+10,...,NaN,1.43,1.43,1.33,1.32,1.32,0.0,24.0,0.0,NaN
+1Q,1,2022-06-30,-0.04600,1.24,1.11,1.40,1.30,28.0,-0.046,8.640560e+10,...,NaN,1.24,1.24,1.18,1.18,1.18,0.0,23.0,0.0,NaN
0Y,1,2022-09-30,0.09800,6.16,5.83,6.61,5.61,40.0,0.098,3.952830e+11,...,0.081,6.16,6.16,5.74,5.74,5.74,2.0,39.0,0.0,NaN
+1Y,1,2023-09-30,0.06500,6.56,5.96,7.30,6.16,39.0,0.065,4.177690e+11,...,0.057,6.56,6.56,6.19,6.18,6.15,2.0,35.0,0.0,NaN
+5Y,1,NaT,0.14850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-5Y,1,NaT,0.08415,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN