In [4]:
import numpy as np
import pandas as pd
from datetime import datetime

In [5]:
my_year = 2022
my_month = 1
my_day = 1
my_hour = 2
my_min = 30
my_sec = 15

In [6]:
my_date = datetime(my_year, my_month, my_day, my_hour, my_min, my_sec)

In [7]:
my_date

datetime.datetime(2022, 1, 1, 2, 30, 15)

In [8]:
my_date.year

2022

In [9]:
now = datetime.now()

In [10]:
now

datetime.datetime(2022, 2, 25, 6, 53, 26, 541517)

In [11]:
myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [15]:
myser_date = pd.to_datetime(myser)

In [16]:
myser_date

0   2000-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]